.disabled{
	pointer-events: none;
	opacity: 0.6;
}
.oldPrice{
	color: #929292;
}
.newPrice{
	color: red;
}
.img-avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.logo .logo-avatar{
	width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}