.disabled{
	pointer-events: none;
	opacity: 0.6;
}
.oldPrice{
	color: #929292;
}
.newPrice{
	color: red;
}
.img-avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.logo .logo-avatar{
	width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.cmt-avatar{
	border-radius: 50%;
    object-fit: cover;
}
.inp-reply{
	margin-left: 100px;
}
.inp-reply textarea{
    margin: 0px auto;
    width: 80%;
}
.btn-reply{
	width: 12%;
}
.img-product{
	max-width: 250px;
	object-fit: cover;
}
.btn-image{
	height: fit-content;
    padding: 0px 0px;
    margin: 10px;
}




